# Database Configuration
# In development, this connects to an existing Docker network
DATABASE_URL=postgresql://monkey_admin:monkey_pass_server_postgres_2026@rm-monkeycore-postgres:5432/chesscoach_db

APP_SUBDOMAIN=menlu.remotemonkeys.ai
NEXTAUTH_SECRET='%jxWWfgj^$F;s:}w{58(H*ENp0kb!UX/uk9YC'
# Auth Configuration
NEXTAUTH_URL=https://${APP_SUBDOMAIN}
AUTH_SECRET='%jxWWfghj^$F;s:}w{58(H*ENp0kb!UX/uk9YC'
AUTH_URL=https://${APP_SUBDOMAIN}

# Google OAuth (Optional - leave blank if not using Google login in production)
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# Project Settings
PORT=3000
NODE_ENV=production

# El subdominio que Terraform o tú decidieron para esta app

# El nombre de la red debe coincidir con el de MonkeyCore
DOCKER_NETWORK_NAME=rm_monkeycore_network
AUTH_TRUST_HOST=true

# Etiquetas de imagen para el flujo de despliegue (Usado por Makefiles)
PROD_PREVIOUS_TAG=0.1.0
PROD_DEPLOY_TAG=1.0.0

# Email Configuration (Nodemailer)
EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=465
EMAIL_SERVER_USER=tu-correo@gmail.com
EMAIL_SERVER_PASSWORD=tu-app-password
EMAIL_FROM=tu-correo@gmail.com

# MonkeyCRM Configuration
RM_CRM_API_KEY="cmrl3g6x"
RM_CRM_BRAND_ID="cmrl1e327000flk1552bzxkyh"
RM_CRM_CHANNEL_ID="cmrl1e327000fl"
RM_CRM_SOURCE="Landing Page"
